<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- start quartz job -->
	<bean id="voucherQuartzJob" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass" value="com.voucher.job.VoucherInstanceQuartzJob" />
		<property name="jobDataAsMap">
			<map>
				<entry key="voucherService" value-ref="voucherService"/>
			</map>
		</property>
	</bean>
	
	<bean id="voucherTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="voucherQuartzJob" />
		<property name="cronExpression" value="0 0 0 * * ?" />
	</bean>
	
	<bean id="userVoucherQuartzJob" class="org.springframework.scheduling.quartz.JobDetailBean">
		<property name="jobClass" value="com.voucher.job.UserVoucherQuartzJob" />
		<property name="jobDataAsMap">
			<map>
				<entry key="userVoucherService" value-ref="userVoucherService"/>
			</map>
		</property>
	</bean>
	
	<bean id="userVoucherTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="userVoucherQuartzJob" />
		<property name="cronExpression" value="0 0 0 * * ?" />
	</bean>
	
	<bean id="scheduler"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="voucherTrigger" />
				<ref bean="userVoucherTrigger"/>
			</list>
		</property>
		<property name="quartzProperties">
			<props>
				<prop key="org.quartz.threadPool.threadCount">20</prop>
				<prop key="org.quartz.scheduler.instanceId">AUTO</prop>
			</props>
		</property>
	</bean>
	<!-- end of quartz job -->
</beans>